body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  overflow: hidden;
}

.App-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  z-index: 1000;
}

.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  border: 1px solid #ddd;
  margin: 10px auto;
  border-radius: 8px;
  background-color: #ffffff;
  height: calc(100vh - 270px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.chat-message {
  display: inline-block;
  margin: 10px 0;
  max-width: 70%;
  padding: 10px;
  border-radius: 15px;
  word-wrap: break-word;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hate-speech {
  background-color: red !important;
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
}

.chat-message.user {
  background-color: #f1f1f1;
  align-self: flex-end !important;
  text-align: right;
  color: #212529; 
  border: 1px solid #e1e1e1;
}

.chat-message.bot {
  background-color: #f1f1f1;
  align-self: flex-start !important;
  text-align: left;
  color: #212529; 
  border: 1px solid #e1e1e1;
}

.input-area {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0 !important;
  width: 100%;
  background-color: #f4f4f9;
  padding: 10px;
  border-top: 1px solid #ddd;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
  margin-right: 10px;
  font-size: 16px;
  color: #212529; 
  background-color: #ffffff;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}

button:active {
  transform: scale(0.98);
}



